
.welcome-section {
    background-color: white;
    padding: 100px 0;
    text-align: justify;
}

.welcome-section img {
    max-width: 100%;
}

.welcome-text {
    font-size: 36px;
    color: #007bff;
    margin-bottom: 20px;
}

.learn-more-btn {
    font-size: 18px;
    padding: 10px 20px;
}

#about-section{
    margin-bottom: 80px;
}

i.fas, i.bi {
    font-size: 15px;
}

i.fas.fa-edit {
    color: #ffc107;
}

i.fas.fa-trash {
    color: #dc3545;
}

